<?xml version="1.0"?>
<!--
/**
 * Codifi_Sales
 *
 * @copyright   Copyright (c) 2021 Codifi
 * @author      Pavel Zelenevich <pzelenevich@codifi.me>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <codifi_sales>
            <order>
                <order_type>
                    <item1>
                        <value>REGULAR</value>
                        <description>Regular Order</description>
                    </item1>
                    <item2>
                        <value>CREDIT_HOLD</value>
                        <description>Credit Hold Order</description>
                    </item2>
                </order_type>
            </order>
        </codifi_sales>
    </default>
</config>
