<?xml version="1.0"?>
<!--
/**
 * Codifi_Sales
 *
 * @copyright   Copyright (c) 2021 Codifi
 * @author      Pavel Zelenevich <pzelenevich@codifi.me>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="orderTypeAddOrderExtensionAttribute" type="Codifi\Sales\Plugin\Order\Api\AddOrderTypeToOrderExtensionAttributes" />
    </type>
    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="orderTypeAddQuoteExtensionAttribute" type="Codifi\Sales\Plugin\Quote\Api\AddOrderTypeToQuoteExtensionAttributes" />
    </type>
    <type name="Magento\Sales\Model\AdminOrder\Create">
        <plugin name="orderTypeAttributeAddToOrder" type="Codifi\Sales\Plugin\AdminOrder\CreatePlugin"/>
    </type>
</config>
