<?xml version="1.0"?>
<!--
/**
 * Codifi_CustomerRequest
 *
 * @copyright   Copyright (c) 2021 Codifi
 * @author      Pavel Zelenevich <pzelenevich@codifi.me>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer_note>
            <archive_cron>
                <frequency>D</frequency>
                <time>01,00,00</time>
            </archive_cron>
        </customer_note>
    </default>
</config>
