<?xml version="1.0"?>
<!--
/**
 * Codifi_Catalog
 *
 * @copyright   Copyright (c) 2021 Codifi
 * @author      Pavel Zelenevich <pzelenevich@codifi.me>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Codifi_Catalog">
        <sequence>
            <module name="Magento_Checkout"/>
        </sequence>
    </module>
</config>
