<?xml version="1.0"?>
<!--
/**
 * Codifi_Sales
 *
 * @copyright   Copyright (c) 2021 Codifi
 * @author      Pavel Zelenevich <pzelenevich@codifi.me>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="codifi" translate="label" sortOrder="400">
            <label>Codifi</label>
        </tab>
        <section id="codifi_sales" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sales</label>
            <tab>codifi</tab>
            <resource>Codifi_Sales::config</resource>
            <group id="order" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order</label>
                <field id="order_type" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Order Type</label>
                    <source_model>Codifi\Sales\Model\Source\OrderTypeSelect</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
