<?xml version="1.0"?>
<!--
/**
 * Codifi_Training
 *
 * @copyright   Copyright (c) 2021 Codifi
 * @author      Pavel Zelenevich <pzelenevich@codifi.me>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_save_after">
        <observer name="codifi_training_customer_save_after" instance="Codifi\Training\Observer\AddCustomerIdAfterSaveToAdminSession" />
    </event>
</config>
